@import '../../../shared/styles/mixins';

.footer {
  width: 100%;
  min-width: 500px;

  &_text {
    padding: 5px 300px;
    @include flex(center, space-between);
    background-color: rgba(48, 53, 62, 1);
    min-width: 100%;
    max-width: unset;
    margin: 0 auto;

    @media (max-width: 1400px) {
      @include flex(center, unset, 20px, column);
    }
    @media (max-width: 550px) {
      width: 1000px;
      margin: 0 auto;
      padding: 0 100px;
    }
  }
}

.text {
  text-align: center;
  @include font(22px, 300, unset, #fff)
}

.rf {
  max-width: 450px;
  @include flex(center, unset, 0px, column);
}

.address {
  @include font(16px, 300, unset, #fff);

  &_block {
    @include flex(unset, space-between, 0px, column);
  }
}